/* Fonts used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main styles */
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  padding: 1rem;
  height: 100%;
}

header {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.logo-text {
  color: #6070ff;
}

.hidden {
  display: none;
  color: #6070ff;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  margin-right: 2rem;
}

.headline {
  display: flex;
  align-items: center;
  background-image: url(img/Header-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-color: #fff;
  height: calc(100% - 1rem);
}

.main {
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #172b4d;
}

.main-text {
  font-size: 20px;
  line-height: 28px;
  width: 85%;
  color: #344563;
}

.connect-text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: #7f8cff;
  margin-top: 1rem;
}

.icon-list {
  display: flex;
}

li {
  list-style: none;
}

.fab {
  font-size: 20px;
  margin-right: 1.2rem;
  margin-top: 0.6rem;
  color: #505f79;
}

/* Media queries */
@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .menu-item {
    margin-right: 1rem;
  }

  .main {
    width: 100%;
  }

  .main-text {
    width: 100%;
    margin-top: 0.8rem;
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0;
  }

  header {
    margin: 3rem 1.5rem 0 1.5rem;
  }

  .hidden {
    display: block;
  }

  .menu {
    flex-direction: row-reverse;
  }

  .menu-item {
    display: none;
  }
  
  .headline {
    background-image: url(img/header-shapes\ mobile.png);
    position: absolute;
    width: 462px;
    height: 587.15px;
    left: -44px;
    top: 104px;
  }

  .main {
    width: 327px;
  }

  .title {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-weight: 700;
    font-style: normal;
  }
  
  .main-text {
    width: 100%;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
