/* For medium size screen between 476px and 1023px */
@media only screen and (min-width: 476px) and (max-width: 767px) {
  .headline {
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .headline {
    background-image: url(img/Header\ bg.svg);
    background-size: 100% 75%;
    background-position: 0 38%;
  }

  .ftr-div {
    background-image: url('img/contact form shapes-mobile.svg');
    height: auto;
    width: 100%;
    background-size: contain;
  }
}
